<!DOCTYPE html>
<html lang="en">

<head>

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">
	<link rel="shortcut icon" href="/TicketBookingEngine/data1/browserIcon.ico">

    <title>Dashboard</title>

	<!-- Angular JS -->
    <script src="../../bower_components/Angular/angular.min.js"></script>
	
    <!-- Bootstrap Core CSS -->
    <link href="../../bower_components/bootstrap/dist/css/bootstrap.min.css" rel="stylesheet">

    <!-- MetisMenu CSS -->
    <link href="../../bower_components/metisMenu/dist/metisMenu.min.css" rel="stylesheet">

    <!-- Timeline CSS -->
    <link href="../../bower_components/dist/css/timeline.css" rel="stylesheet">

    <!-- Custom CSS -->
    <link href="../../bower_components/dist/css/sb-admin-2.css" rel="stylesheet">

    <!-- Morris Charts CSS -->
    <link href="../../bower_components/morrisjs/morris.css" rel="stylesheet">

    <!-- Custom Fonts -->
    <link href="../../bower_components/font-awesome/css/font-awesome.min.css" rel="stylesheet" type="text/css">

    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
        <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
        <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->

</head>

<body>
	<script type="text/javascript">
	var app = angular.module('tbe',[]);
	app.controller('dashboardCtrl',function($scope){
		$scope.searchKeyword = '';
		$scope.search = function(){
			console.log('kk',$scope.searchKeyword);
			window.location.href = '/TicketBookingEngine/views/search-results/search-results.jsp?kw='+ $scope.searchKeyword;
		}
	});
	</script>
    <div id="wrapper" ng-app="tbe">

        <!-- Navigation -->
        <div ng-include="'/TicketBookingEngine/views/navigation/navigation.jsp'"></div>

        <div id="page-wrapper" ng-controller="dashboardCtrl">
            <div class="row">
                <div class="col-lg-12">
                    <h3 class="page-header">Dashboard</h3>
                </div>
                <!-- /.col-lg-12 -->
            </div>
            <!-- /.row -->
            <div class="row">
                <div class="col-lg-3 col-md-6">
                    <div class="panel panel-primary">
                        <div class="panel-heading">
                            <div class="row">
                                <div class="col-xs-3">
                                    <i class="fa fa-building-o fa-3x"></i>
                                </div>
                                <div class="col-xs-9 text-right">
                                    <div><h1>Locations<h1></div>                                                                       
                                </div>
                            </div>
                        </div>
                        <a href="/TicketBookingEngine/views/locations-add/add-location.html">
                            <div class="panel-footer">
                                <span class="pull-left">Add New Locations</span>
                                <span class="pull-right"><i class="fa fa-arrow-circle-right"></i></span>
                                <div class="clearfix"></div>
                            </div>
                        </a>
                        <a href="/TicketBookingEngine/views/locations-view/view-locations.jsp">
                            <div class="panel-footer">
                                <span class="pull-left">View Locations</span>
                                <span class="pull-right"><i class="fa fa-arrow-circle-right"></i></span>
                                <div class="clearfix"></div>
                            </div>
                        </a>
                        <a href="/TicketBookingEngine/views/location-picture-view/location-picture-matrix.jsp">
                            <div class="panel-footer">
                                <span class="pull-left">Location Images</span>
                                <span class="pull-right"><i class="fa fa-arrow-circle-right"></i></span>
                                <div class="clearfix"></div>
                            </div>
                        </a>
                        <a href="/TicketBookingEngine/views/table-arrangement/table-arrangement-selecter.jsp">
                            <div class="panel-footer">
                                <span class="pull-left">Table Arrangement</span>
                                <span class="pull-right"><i class="fa fa-arrow-circle-right"></i></span>
                                <div class="clearfix"></div>
                            </div>
                        </a>
                    </div>
                </div>
                <div class="col-lg-3 col-md-6">
                    <div class="panel panel-green">
                        <div class="panel-heading">
                            <div class="row">
                                <div class="col-xs-3">
                                    <i class="fa fa-tasks fa-3x"></i>
                                </div>
                                <div class="col-xs-9 text-right">
                                    <div><h1>Items<h1></div>                                    
                                </div>
                            </div>
                        </div>
                        <a href="../resourse-add/resourse-add.jsp">
                            <div class="panel-footer">
                                <span class="pull-left">Add New Item</span>
                                <span class="pull-right"><i class="fa fa-arrow-circle-right"></i></span>
                                <div class="clearfix"></div>
                            </div>
                        </a>
                         <a href="../resourse-edit/resourse-update.jsp">
                            <div class="panel-footer">
                                <span class="pull-left">View Items</span>
                                <span class="pull-right"><i class="fa fa-arrow-circle-right"></i></span>
                                <div class="clearfix"></div>
                            </div>
                        </a>
                        
                        <a href="../resourse-edit/table-update.jsp">
                            <div class="panel-footer">
                                <span class="pull-left">View Tables</span>
                                <span class="pull-right"><i class="fa fa-arrow-circle-right"></i></span>
                                <div class="clearfix"></div>
                            </div>
                        </a>
                        
                        <a href="../quantity-add/add-quantity.jsp">
                            <div class="panel-footer">
                                <span class="pull-left">Edit Quantity</span>
                                <span class="pull-right"><i class="fa fa-arrow-circle-right"></i></span>
                                <div class="clearfix"></div>
                            </div>
                        </a>
                    </div>
                </div>
                <div class="col-lg-3 col-md-6">
                    <div class="panel panel-yellow">
                        <div class="panel-heading">
                            <div class="row">
                                <div class="col-xs-3">
                                    <i class="fa fa-shopping-cart fa-3x"></i>
                                </div>
                                <div class="col-xs-9 text-right">
                                    <div><h1>Events<h1></div>                                   
                                </div>
                            </div>
                        </div>
                        <a href="../event-createanevent/createanevent.jsp">
                            <div class="panel-footer">
                                <span class="pull-left">Add New Events</span>
                                <span class="pull-right"><i class="fa fa-arrow-circle-right"></i></span>
                                <div class="clearfix"></div>
                            </div>
                        </a>
                        <a href="../event-searchevent/searchevent.jsp">
                            <div class="panel-footer">
                                <span class="pull-left">Search and Edit</span>
                                <span class="pull-right"><i class="fa fa-arrow-circle-right"></i></span>
                                <div class="clearfix"></div>
                            </div>
                        </a>
                        <a href="../event-searchevents/searchevents.jsp">
                            <div class="panel-footer">
                                <span class="pull-left">Search and Edit(Quick Mode)</span>
                                <span class="pull-right"><i class="fa fa-arrow-circle-right"></i></span>
                                <div class="clearfix"></div>
                            </div>
                        </a>
                        <a href="">
                            <div class="panel-footer">
                                <span class="pull-left">--</span>
                                <span class="pull-right"></span>
                                <div class="clearfix"></div>
                            </div>
                        </a>
                    </div>
                </div>
                <div class="col-lg-3 col-md-6">
                    <div class="panel panel-red">
                        <div class="panel-heading">
                            <div class="row">
                                <div class="col-xs-3">
                                    <i class="fa fa-gift fa-3x"></i>
                                </div>
                                <div class="col-xs-9 text-right">
                                    <div><h1>Packages<h1></div>                                    
                                </div>
                            </div>
                        </div>
                        <a href="../package-create/createpackage.jsp">
                            <div class="panel-footer">
                                <span class="pull-left">Create Packages</span>
                                <span class="pull-right"><i class="fa fa-arrow-circle-right"></i></span>
                                <div class="clearfix"></div>
                            </div>
                        </a>
                         <a href="../package-update/package-update.jsp">
                            <div class="panel-footer">
                                <span class="pull-left">View Packages</span>
                                <span class="pull-right"><i class="fa fa-arrow-circle-right"></i></span>
                                <div class="clearfix"></div>
                            </div>
                        </a>
                        <a href="">
                            <div class="panel-footer">
                                <span class="pull-left">--</span>
                                <span class="pull-right"></span>
                                <div class="clearfix"></div>
                            </div>
                        </a>
                        <a href="">
                            <div class="panel-footer">
                                <span class="pull-left">--</span>
                                <span class="pull-right"></span>
                                <div class="clearfix"></div>
                            </div>
                        </a>                         
                    </div>
                </div>
            </div>
        </div>
        <!-- /#page-wrapper -->

    </div>
    <!-- /#wrapper -->

    <!-- jQuery -->
    <script src="../../bower_components/jquery/dist/jquery.min.js"></script>

    <!-- Bootstrap Core JavaScript -->
    <script src="../../bower_components/bootstrap/dist/js/bootstrap.min.js"></script>

    <!-- Metis Menu Plugin JavaScript -->
    <script src="../../bower_components/metisMenu/dist/metisMenu.min.js"></script>

    <!-- Morris Charts JavaScript -->
    <script src="../../bower_components/raphael/raphael-min.js"></script>
    <script src="../../bower_components/morrisjs/morris.min.js"></script>
    <script src="../../bower_components/js/morris-data.js"></script>

    <!-- Custom Theme JavaScript -->
    <script src="../../bower_components/dist/js/sb-admin-2.js"></script>

</body>

</html>
